:root {
  --prime-black: #220901;
  --red-dark: #621708;
  --prime-red: #941b0c;
  --orange: #bc3908;
  --yellow: #f6aa1c;
  --green: #02848b;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
a,
ul,
li,
button,
td,
th {
  font-family: "Barlow Condensed";
}

.container {
  margin: 0 auto;
  width: 90%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.align-center {
  text-align: center;
}
.items-center {
  align-items: center;
}
h2 {
  font-size: 2rem;
  padding: 10px;
}

.header-container {
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 2rem;
}
.logo {
  width: 15vw;
}

/*///////// NAVBAR ///////////*/
.navbar {
  padding: 10px 0;
}
li {
  font-size: 1.3rem;
}
ul button {
  font-size: 1.3rem;
}
/* ////////// */
/* //////// TABLE ///////// */
.table-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table {
  width: 100%;
}
table tr:nth-child(even) {
  background-color: var(--yellow);
}
th {
  color: white;
  padding: 12px 0;
  background-color: var(--orange);
}
td {
  padding: 0 5px;
}
/* //////////////////////// */

.color-block-red-dark {
  background-color: var(--red-dark);
  padding: 20px 0;
}
.color-block-prime-red {
  background-color: var(--prime-red);
  padding: 10px 0;
}
.color-block-orange {
  background-color: var(--orange);
  padding: 5px 0;
}

.column {
  flex-direction: column;
}

.box {
  border: 1px solid black;
  width: 200px;
}

.date-padding {
  padding: 10px;
}

.foto {
  padding: 10px;
  width: 100%;
  height: 80px;
  overflow: hidden;
}
img {
  width: 100%;
}

.btn {
  border: none;
  border-radius: 4px;
  padding: 5px;
  /* color: var(--prime-black);
  border: 1px solid var(--sec-black); */
}
.btn-green {
  background-color: var(--green);
  color: white;
}
.btn-red {
  background-color: var(--prime-red);
  color: var(--yellow);
}
.no-btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

footer {
  margin-top: 60px;
}

.card-container {
  flex-direction: row;
  gap: 10px;
}

.card {
  width: calc(100% - 10px);
  border: 1px solid var(--prime-black);
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* /////////////////////////////////////////////
              beginning  768
/////////////////////////////////////////////*/
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.3rem;
    padding: 10 12px;
  }
  /*///////// navbar ///////////*/
  .navbar {
    padding: 15px 0;
  }
  li {
    font-size: 1.5rem;
  }
  ul button {
    font-size: 1.5rem;
  }
  /* /////////// */

  th {
    font-size: 1.2rem;
  }
  td {
    font-size: 1.2rem;
  }
  .card-container {
    margin: 0 30px;
  }
  .card {
    width: calc(40% - 50px);
  }
}

/* /////////////////////////////////////////////
                768 end
/////////////////////////////////////////////*/
/* /////////////////////////////////////////////
               beginning 992
/////////////////////////////////////////////*/
@media screen and (min-width: 992px) {
  h2 {
    font-size: 2.5rem;
    padding: 10 14px;
  }
  header p {
    font-size: 1.2rem;
    padding-bottom: 10px;
  }
  .header-container {
    flex-direction: column;
  }
  .logo {
    width: 18vw;
    margin: 0 auto;
  }
  /*///////// navbar ///////////*/
  .navbar {
    padding: 20px 0;
  }
  li {
    font-size: 1.7rem;
  }
  ul button {
    font-size: 1.7rem;
  }
  /* /////////// */
  th {
    font-size: 1.4rem;
  }
  td {
    font-size: 1.4rem;
    padding: 0 7px;
  }
  .card {
    width: calc(20% - 50px);
  }
}

/* /////////////////////////////////////////////
                992 end
/////////////////////////////////////////////*/

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 2.7rem;
    padding: 10 16px;
  }
  header p {
    font-size: 1.3rem;
    padding-bottom: 12px;
  }
  .logo {
    width: 20vw;
  }
  /*///////// navbar ///////////*/
  .navbar {
    padding: 30px 0;
  }
  li {
    font-size: 1.9rem;
  }
  ul button {
    font-size: 1.9rem;
  }
  /* /////////// */
  th {
    font-size: 1.6rem;
  }
  td {
    font-size: 1.6rem;
  }
}
